#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
}

.parentDiv {
    border: solid;
}

.childDiv {
  border: solid;
}

.divDiv {
  border: solid;
}

 .nodeContainer {
  padding-left: 20px;
  padding-top: 5px;
  border: solid;
}

.nodeStyle {
  padding-left: 20px;
  background: lightblue;
  margin-top:auto;
  margin-bottom:auto;
}
.nodeContainer input {
  border-radius: 3px;
  border-color: lightblue;
}